grafana_loki_instance_id = "your-grafana-instance-id"
grafana_loki_uri         = "https://your-grafana-loki-endpoint.grafana.net"
grafana_otlp_endpoint    = "https://otlp-gateway-prod-eu-west-2.grafana.net/otlp"
